*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

main {
    padding: 4.5rem 2rem 4.5rem 2rem;
}

h1 {
    font-size: 20px;
    color: var(--Cyan);
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 18px;
    line-height: 1.375rem;
    color: white;
    margin-bottom: 1.125rem;
}

body{
    background: var(--Light-Gray);
}